.intro-banner-wrap{
//   background-image: linear-gradient(90deg, #032f62, #024794);
  background: linear-gradient(130deg, #400446 30%, #2bdada 100%);
  background-position: center 10%;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  .intro-banner-img-mask{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 98px;
    padding-bottom: 48px;
  }
  .intro-banner-title{
    font-weight: 500;
    font-size: 32px;
  }
  .text-warning{
     color: #ffc107;
     margin-left: 5px;
  }
  .startbtn{
    height: 50px;
    padding: 0px 58px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: rgb(0, 206, 114); 
    border-radius: 3px;
    display: inline-block;
    line-height: 50px; color: #fff;
  }
  .whitebtn{
    height: 50px;
    padding: 0px 58px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: #fff; 
    border-radius: 3px;
    display: inline-block;
    line-height: 50px; color: #333;  
  }
}
