.net1{
    text-align: left;
    line-height: 120%
}
.net2{
    font-size:16px;line-height:120%;color:black
}
.net3{
    font-size:16px;line-height:120%;font-family:仿宋_GB2312;color:black
}
.net4{
    font-size:16px;line-height:120%;color:black
}
.net5{
    font-size:16px;line-height:120%;font-family:仿宋_GB2312;color:black
}
.net6{
    font-size:16px;line-height:120%;color:black
}
.net7{
    font-size: 16px;font-family: 黑体
}
.net8{
    padding:20px;
}
.net9{
    margin-top:5px;
}