.tech1{
    padding:20px;
}
.tech2{
    margin-top:5px;
}
.tech3{
    height: 500px;
}
.tech4{
    font-family: 仿宋_GB2312;
}
.tech5{
    line-height: 120%
}
.tech6{
    font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: 'Times New Roman'
}
.tech7{
    line-height: 120%; font-family: 仿宋_GB2312;
}
.tech8{
    font-size: 16px;line-height: 120%;font-family: 仿宋_GB2312
}
.tech9{
    font-size: 16px;line-height: 120%
}
.tech10{
    height: 160px; width: 236.888px; margin-top: 0px; margin-left: -38.4439px;
}